table.form {
}

    table.form > tbody > tr {
    }

        table.form > tbody > tr > td {
            height: 32px;
            vertical-align: middle;
        }

            table.form > tbody > tr > td.label {
                width: 142px;
            }

            table.form > tbody > tr > td.field {
                padding-top: 4px;
                padding-bottom: 4px;
            }

    table.form td.field > input[type=text],
    table.form td.field > input[type=file],
    table.form td.field > field {
        display: inline-block;
        width: 300px;
        border: 1px solid #C0C0C0;
        background-color: #FFFFFF;
        border-radius: 6px;
        padding: 4px;
        font-size: 16px;
        overflow: hidden;
    }

        table.form td.field > input[type=text]:hover {
            border: 1px solid #000000;
        }

    table.form > tfoot > tr > td {
        padding-top: 26px;
        padding-bottom: 8px;
        text-align: center;
    }

        table.form > tfoot > tr > td > input[type=submit] {
            height: 24px;
            width: 100px;
            margin-left: 12px;
            margin-right: 12px;
        }

div.frame {
    width: 600px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

list {
    display: block;
    width: 584px;
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 8px;
}

    list:hover {
        border: 1px solid #000000;
    }

    list scroll {
        display: block;
        overflow-y: scroll;
        height: 120px;
    }

    list item {
        display: block;
        height: 32px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        padding-left: 4px;
        margin-right: 8px;
        vertical-align: middle;
    }

        list item:hover {
            border: 1px solid #C0C0C0;
            background-color: #FFFFFF;
            border-radius: 6px;
        }

        list item input[type="checkbox"] {
            float:left;
            margin-top: 9px;
        }

        list item img {
            float:left;
            width: 16px;
            height: 16px;
            margin-top: 8px;
            margin-left: 8px;
        }

        list item h1 {
            font-size: 14px;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 56px;
        }

        list item p {
            font-size: 12px;
            margin-top: -2px;
            line-height: 17px;
            margin-left: 56px;
        }
