div.frame {
    width: 600px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

div.frameHeader
{
    width: 600px;
    background-color: #808080;
    color: #FFFFFF;
    border: 1px solid #808080;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
}

div.frameBody
{
    width: 600px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}