/* layout */

html {
    height: 100%;
}

body {
    margin: 0px;
    background-color: #FFFFFF;
    height: 100%;
}

form {
    height: 100%;
}

table#layout {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

td#layoutLogo {
    background-color: #000000;
    height: 24px;
    width: 300px;
    padding: 0px;
    padding-top: 4px;
    vertical-align: central;
}

td#layoutTop {
    background-color: #000000;
    color: #FFFFFF;
    height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 2px;
    text-align: right;
    vertical-align: central;
}

td#layoutLeft {
    background-color: #999966;
    color: #FFFFFF;
    height: 100%;
    width: 300px;
    vertical-align: top;
    padding-top: 48px;
}

td#layoutRight {
    background-color: #FFFFFF;
    color: #000000;
    height: 100%;
    width: auto;
    vertical-align: top;
}

div#layoutBottom {
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    height: 150px;
}

/* content */

div#contentMenu {
    padding: 24px;
}

div#contentMain {
    padding: 24px;
}

div#contentFooter {
    text-align: center;
    padding: 24px;
}
