div.spreadsheet {
    min-width: 540px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

table.spreadsheet {
    width: 100%;
    border: 0px;
}

    table.spreadsheet tr {
        background-color: #FFFFFF;
    }

        table.spreadsheet tr.item:hover {
            background-color: #EEEECC;
        }

    table.spreadsheet th {
        border-bottom: 2px solid #EEEECC;
    }

    table.spreadsheet td {
        border: 2px solid #FFFFFF;
        text-align: left;
    }

        table.spreadsheet td.name {
            width: 120px;
        }

        table.spreadsheet td.desc {
            width: auto;
            border-right: 2px solid #EEEECC;
        }

        table.spreadsheet td.subm,
        table.spreadsheet td.points {
            width: 48px;
            text-align: center;
            border-left: 2px solid #EEEECC;
            border-right: 2px solid #EEEECC;
        }

        table.spreadsheet td.points {
            text-align: right;
            padding-right: 4px;
        }

        table.spreadsheet td.new {
            color: #000000;
            background-color: #00FF00;
        }

        table.spreadsheet td.late {
            color: #FFFFFF;
            background-color: #FF0000;
        }

        table.spreadsheet td.comments {
            font-weight: bold;
        }