toolbar {
    display: block;
    margin-bottom: 8px;
}

    toolbar a {
        display: inline-block;
        min-width: 120px;
        height: 25px;
        border: 1px solid #C0C0C0;
        border-radius: 8px;
        padding: 4px;
        text-decoration: none;
        color: #000000;
    }

        toolbar a:hover {
            border: 1px solid #000000;
        }

        toolbar a p {
            font-size: 14px;
            margin-top: -5px;
            margin-right: 12px;
        }

        toolbar a img {
            float: left;
            width: 24px;
            height: 24px;
            margin-left: 4px;
            margin-top: 0px;
            margin-right: 20px;
            vertical-align: middle;
        }

    toolbar.form {
        width: 632px;
        text-align: center;
    }

        toolbar.form a {
            margin-left: 4px;
            margin-right: 4px;
        }

    toolbar.right {
        text-align: right;
    }

        toolbar.right a {
            margin-left: 4px;
        }

    toolbar.button {
        display: inline-block;
        margin-bottom: 0px;
    }

.fullbar {
    display: block;
    width: 632px;
    min-height: 64px;
    background-color: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #000000;
    text-decoration: none;
}

    .fullbar:hover {
        background-color: #EEEECC;
    }

    .fullbar img {
        float: left;
        width: 48px;
        height: 48px;
        margin-left: 8px;
        margin-top: 8px;
        margin-right: 32px;
    }

    .fullbar h1 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .fullbar h2 {
        font-size: 14px;
        font-weight: normal;
        margin-top: 8px;
    }

    .fullbar p {
        font-size: 14px;
        margin: 8px;
    }

    .fullbar a.unread {
        border: 1px solid #00FF00;
    }

    .fullbar a.reply {
        border: 1px solid #FF0000;
    }
