<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="git" type="Complex.Domino.Git.GitConfiguration, Complex.Domino.Git"/>
    <section name="domino" type="Complex.Domino.Lib.DominoConfiguration, Complex.Domino.Lib"/>
  </configSections>

  <git binPath="C:\Program Files (x86)\Git\bin"/>
  <domino
    scratchPath="C:\Data\dobos\project\domino\data\scratch"
    repositoriesPath="C:\Data\dobos\project\domino\data\repos"
    emailFromAddress="dobos@complex.elte.hu"
    emailFromName="Domino"
    emailNoreplyAddress="noreply@complex.elte.hu" />

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>
  <connectionStrings>
    <add name="Domino" connectionString="Data Source=localhost;Initial Catalog=Domino;Integrated Security=true;MultipleActiveResultsets=true;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="60" />
    <pages theme="Basic">
      <controls>
        <add tagPrefix="domino" src="~/Controls/UserStatus.ascx" tagName="userStatus" />
        <add tagPrefix="domino" src="~/Controls/Menu.ascx" tagName="menu" />
        <add tagPrefix="domino" src="~/Controls/EntityForm.ascx" tagName="EntityForm" />
        <add tagPrefix="domino" src="~/Controls/FileBrowser.ascx" tagName="FileBrowser" />
        <add tagPrefix="domino" namespace="Complex.Domino.Web.Controls" assembly="Complex.Domino.Web" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms slidingExpiration="true" loginUrl="~/Auth/SignIn.aspx" timeout="30" />
    </authentication>
    <globalization culture="hu-HU" uiCulture="hu-HU" />
    <customErrors mode="Off" defaultRedirect="~/Error.aspx" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryFormat="International" deliveryMethod="Network">
        <network host="mail.elte.hu" />
      </smtp>
      <!--<smtp deliveryFormat="International" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Users\dobos\project\domino\data\mail"/>
      </smtp>-->
    </mailSettings>
  </system.net>
</configuration>
