<%@ Master Language="C#" MasterPageFile="~/Domino.Master" AutoEventWireup="true" CodeBehind="Student.master.cs" Inherits="Complex.Domino.Web.Student.Master" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="main">
    <asp:ContentPlaceHolder ID="main" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
